<?xml version="1.0"?>
<config>

	<!-- Information about the tool provider (used to generate config.xml for the tool!)-->
	<tool>
		<name>Reflexive Canvas LTI Example</name>
		<description>An example using `smtech/reflexive-canvas-lti`</description>
		<id>reflexive-example</id>
		<authenticate>index.php</authenticate>

		<!-- handler paths are relative to this configuration XML file -->
		<handlers>
			<base>tool.php</base>
		</handlers>

		<!-- Where is the log file for the tool provider? (path relative to this XML file) -->
		<log>../tool-provider.log</log>
	</tool>

	<!-- Credentials for MySQL database -->
	<mysql>
		<host>localhost</host>
		<username>reflexive</username>
		<password>ngi`k6gI$qKW589</password>
		<database>reflexive</database>
	</mysql>

	<!-- Credentials for Canvas API -->
	<canvas>
		<url>https://canvas.instructure.com/api/v1</url>
		<token>1106~rd4ThECKzR9oaWy3gOXNpFLxcNkFHZpcy99yOvvgJiAl6fTJrhtIVT2chdSAC3tE</token>
	</canvas>
</config>
